# ----------------------------
# Java
# ----------------------------
*.class
*.jar
*.war
*.ear
*.log

# Build directories
/bin/
/build/
/target/

# Eclipse
*.classpath
*.project
/.settings/

# IntelliJ IDEA
*.iml
.idea/

# ----------------------------
# Node.js
# ----------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# ----------------------------
# Visual Studio Code
# ----------------------------
.vscode/

# ----------------------------
# OS/System Files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Environment Files (if any)
# ----------------------------
.env
